<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open Security</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.1/css/bulma.min.css"
        integrity="sha512-dF4b2QV/0kq+qlwefqCyb+edbWZ63ihXhE4A2Pju3u4QyaeFzMChqincJsKYwghbclpLE92jPb9yaz/LQ8aNlg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
        integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript" src="/static/services.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js"
        integrity="sha512-g2TeAWw5GPnX7z0Kn8nFbYfeHcvAu/tx6d6mrLe/90mkCxO+RcptyYpksUz35EO337F83bZwcmUyHiHamspkfg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .img {
            max-width: 100%;
            min-width: 350px;
            height: auto;
        }
    </style>

</head>

<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu is-active">
                        <div class="navbar-end">
                            <a href="{{ url_for('index') }}" class="navbar-item">
                                Home
                            </a>
                            {% if current_session.get('logged_in', False) %}
                            <a href="{{ url_for('profile') }}" class="navbar-item">
                                Profile
                            </a>
                            {% endif %}
                            {% if not current_session.get('logged_in', False) %}
                            <a href="{{ url_for('login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                            {% endif %}
                            {% if current_session.get('logged_in', False) %}
                            <a href="{{ url_for('logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>

    <script>
        (function init() {
            const textDecoder = new TextDecoder();
            const username = "{{ current_session.get('username', 'Guest') }}";
            const current_host = `${window.location.protocol}//${window.location.host}`;
            console.log(current_host);

            const socket = io.connect(`${current_host}/?username=${username}`);
            const loggerElement = document.getElementById('logger')
            socket.on('connect', function () {
                const dataElement = document.createElement('pre');
                dataElement.innerHTML = `Conectado ${username}`;
                loggerElement.appendChild(dataElement);
            });

            socket.on('message', function (payload) {
                console.log("message", payload);
            });

            socket.on('frame', function (frame) {
                if (frame) {
                    const image = document.getElementById("image");
                    const ungzipedData = pako.ungzip(frame);
                    image.src = "data:image/jpg;base64, " + textDecoder.decode(ungzipedData);
                }
            });

            socket.on('disconnect', function (payload) {
                const dataElement = document.createElement('pre');
                dataElement.innerHTML = JSON.stringify(payload);
                loggerElement.appendChild(dataElement);
            });

            get_cameras_available();
            get_dimensions();
        })();
    </script>
</body>

</html>