{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Bienvenido, {{ current_session.get('full_name', 'Guest') }}!
</h1>

<div class="field">
  <label class="label">Selecciona la cámara</label>
  <div class="control">
    <div class="select">
      <select>
        <option value="0">Cámara 0</option>
      </select>
    </div>
  </div>
</div>

<div id="logger">
  <img id="image"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTODZZUThEq35sS54ZmtfL5MDmqhB9x5o8Yvg&s"
      alt="Paris" class="center img">
</div>

{% endblock %}