{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Bienvenido, {{ current_session.get('full_name', 'Guest') }}!
</h1>

<div style="width: 100%;" class="columns is-mobile is-centered">
<div class="field" class="column is-half">
  <label class="label">Cámara</label>
  <div class="control">
    <div class="select">
      <select id="cameraAvailableDropdown" name="cameraAvailableDropdown" onchange="selecte_cam(this)">
        <option value="0">Cámara 0</option>
      </select>
    </div>
  </div>
</div>

<div class="field" class="column is-half" style="margin-left: 10px;">
  <label class="label">Dimensión</label>
  <div class="control">
    <div class="select">
      <select id="dimensionsDropdown" name="dimensionsDropdown" onchange="selecte_dimensions(this)">
        <option value="0">Cámara 0</option>
      </select>
    </div>
  </div>
</div>
</div>

<div id="logger">
  <img id="image"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTODZZUThEq35sS54ZmtfL5MDmqhB9x5o8Yvg&s"
      alt="Paris" class="center img">
</div>

{% endblock %}